/* Clases generales */
body {
    background-color: black;
    color:#ffffff
}
article {
    background-color: rgb(44,43,43);
    padding: 1.5rem;
    border-bottom: 1px solid #ffffff;
}
#titulo_del_blog {
    text-align: center;
    font-size: 3rem;
}
/* Terminan clases generales */

/* Barra de navegación */
.resaltado{
    color: yellow;
}
nav>ul>li{
    list-style: none;
}
nav>ul>li>a{
    text-decoration: none;
}
/* Fin barra de navegación */

/* Footer del blog */
#footer_blog{
    margin: 2rem;
}
/* Fin del footer del blog */

/* Ilustraciones */
.ilustracion{
    border: 4px solid #ffffff;
    display: inline-block;
}
.ilustracion figcaption{
    border-top: 1rem;
    border-left: 1rem;
    font-style: italic;
}
/* Fin ilustraciones */

/* Empieza Grid */
section {
    
    /* Se despliega como grid */
    display: grid;
    /* Crea 12 columnas cada una de una fracción usando la función repeat*/
    grid-template-columns: repeat(12, 1fr);
    /* Deja que las filas(renglones) ocupen el alto que necesitan */
    grid-auto-rows: auto;
    /* Añade un espacio entre los elementos del grid de 3rem */
    gap: 3rem;
}

/* Apunta sólo a los header que son hijos directos de section */
section>header {
    /* Esta sección se extenderá 12 columnas. */
    grid-column: span 12;
}

/* Apunta sólo a los main que son hijos directos de section */
section>main {
    /* Esta sección se extenderá 8 columnas. */
    grid-column: span 8;
}

/* Apunta sólo a los aside que son hijos directos de section */
section>aside {
    /* Esta sección se extenderá 4 columnas. */
    grid-column: span 4;
}

/* Apunta sólo a los footer que son hijos directos de section */
section>footer {
    /* Esta sección se extenderá 12 columnas. */
    grid-column: span 12;
}
/* Termina grid */